.container_radio {
    content: attr("cargando");
    background: #111111;
    width: 85%;
    max-width: 1200px;
    min-height: 8rem;
    margin: auto;
}



@media screen and (max-width: 540px) {
    
    .container_radio {
        width: 100%;
    }
}